[user]
    name = John Oilar
    email = johnoilar@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    cob = co -b
    co = checkout
    b = branch
    d = diff
    l = log
    s = status
[push]
    default = current
[color]
    ui = true
